In [37]:
# Import Dependencies
import pandas as pd
import os
import csv
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [38]:
file_path = pd.read_csv("./Resources/world-data-2023.csv")

file_path.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [39]:
file_path.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [40]:
copy_df = file_path.copy()
copy_df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [41]:
copy_df.value_counts("Country")

Country
Afghanistan        1
Samoa              1
North Macedonia    1
Norway             1
Oman               1
                  ..
Guinea             1
Guinea-Bissau      1
Guyana             1
Haiti              1
Zimbabwe           1
Length: 195, dtype: int64

In [54]:
cleaned_df.dtypes

Country                                       object
Density\n(P/Km2)                              object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [84]:
cleaned_df = copy_df.drop(columns=["Abbreviation", 
                                   "Calling Code", 
                                   "Capital/Major City", 
                                   "Currency-Code", 
                                   "Largest city", 
                                   "Official language"])

cleaned_df.head()

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,"8,672",149.9,2.30%,4.47,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,43.10%,"28,748","9,000",11.78,"4,536",119.05,1.40%,1.62,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,17.40%,"2,381,741","317,000",24.28,"150,006",151.36,2.00%,3.02,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,40.00%,468,NaN,7.20,469,NaN,NaN,1.27,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,47.50%,"1,246,700","117,000",40.73,"34,693",261.73,17.10%,5.52,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [85]:
# cleaned_df['Population'] = cleaned_df['Population'].replace('NaN', np.nan)
# cleaned_df["Population"] = cleaned_df["Population"].astype(float)

cleaned_df['Population'] = pd.to_numeric(cleaned_df['Population'], errors='coerce')
cleaned_df['Urban_population'] = pd.to_numeric(cleaned_df['Urban_population'], errors='coerce')
has_nan_population = cleaned_df['Population'].isna().any()

# Print the result
print(has_nan_population)

cleaned_df.dtypes

True

Country                                       object
Density\n(P/Km2)                              object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                   float64
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                             float64
Latitude                                     float64
Longitude                                    float64
dtype: object

In [81]:
cleaned_df["Urban Percentage"] = (cleaned_df["Urban_population"] / cleaned_df["Population"]) * 100
cleaned_df.tail()

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude,Urban Percentage
190,Venezuela,32,24.50%,"912,050","343,000",17.88,"164,175","2,740.27",254.90%,2.27,...,1.92,NaN,59.70%,NaN,73.30%,8.80%,NaN,6.423750,-66.589730,NaN
191,Vietnam,314,39.30%,"331,210","522,000",16.75,"192,668",163.52,2.80%,2.05,...,0.82,NaN,77.40%,19.10%,37.60%,2.01%,NaN,14.058324,108.277199,NaN
192,Yemen,56,44.60%,"527,968","40,000",30.45,"10,609",157.58,8.10%,3.79,...,0.31,NaN,38.00%,NaN,26.60%,12.91%,NaN,15.552727,48.516388,NaN
193,Zambia,25,32.10%,"752,618","16,000",36.19,"5,141",212.31,9.20%,4.63,...,1.19,NaN,74.60%,16.20%,15.60%,11.43%,NaN,-13.133897,27.849332,NaN
194,Zimbabwe,38,41.90%,"390,757","51,000",30.68,"10,983",105.51,0.90%,3.62,...,0.21,NaN,83.10%,20.70%,31.60%,4.95%,NaN,-19.015438,29.154857,NaN

In [47]:
health_df = cleaned_df[["Country", 
                       "Birth Rate", 
                       "Fertility Rate",
                       "Infant mortality",
                       "Maternal mortality ratio",
                       "Out of pocket health expenditure",
                       "Physicians per thousand",
                       "Life expectancy"]]
health_df = health_df.dropna()
health_df.head()

,Country,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Out of pocket health expenditure,Physicians per thousand,Life expectancy
0,Afghanistan,32.49,4.47,47.9,638.0,78.40%,0.28,64.5
1,Albania,11.78,1.62,7.8,15.0,56.90%,1.20,78.5
2,Algeria,24.28,3.02,20.1,112.0,28.10%,1.72,76.7
4,Angola,40.73,5.52,51.6,241.0,33.40%,0.21,60.8
5,Antigua and Barbuda,15.33,1.99,5.0,42.0,24.30%,2.76,76.9

In [48]:
health_df.value_counts("Country")

Country
Afghanistan      1
Liberia          1
Niger            1
Nigeria          1
Norway           1
                ..
Grenada          1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Length: 177, dtype: int64

In [49]:
financial_df = cleaned_df[["Country",
                           "CPI",
                           "CPI Change (%)",
                           "Gasoline Price",
                           "GDP",
                           "Minimum wage",
                           "Population: Labor force participation (%)",
                           "Tax revenue (%)",
                           "Total tax rate",
                           "Unemployment rate",
                            "Life expectancy"]]
financial_df = financial_df.dropna()
financial_df.head()

,Country,CPI,CPI Change (%),Gasoline Price,GDP,Minimum wage,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Life expectancy
0,Afghanistan,149.9,2.30%,$0.70,"$19,101,353,833",$0.43,48.90%,9.30%,71.40%,11.12%,64.5
1,Albania,119.05,1.40%,$1.36,"$15,278,077,447",$1.12,55.70%,18.60%,36.60%,12.33%,78.5
2,Algeria,151.36,2.00%,$0.28,"$169,988,236,398",$0.95,41.20%,37.20%,66.10%,11.70%,76.7
4,Angola,261.73,17.10%,$0.97,"$94,635,415,870",$0.71,77.50%,9.20%,49.10%,6.89%,60.8
6,Argentina,232.75,53.50%,$1.10,"$449,663,446,954",$3.35,61.30%,10.10%,106.30%,9.79%,76.5

In [50]:
financial_df.value_counts("Country")

Country
Afghanistan            1
Netherlands            1
Republic of Ireland    1
Portugal               1
Poland                 1
                      ..
France                 1
Fiji                   1
Estonia                1
El Salvador            1
Zambia                 1
Length: 124, dtype: int64

In [83]:
conditions_df = cleaned_df[["Country",
                            "Density\n(P/Km2)",
                            "Agricultural Land( %)",
                            "Armed Forces size",
                            "Co2-Emissions",
                            "Forested Area (%)",
                            "Gross primary education enrollment (%)",
                            "Gross tertiary education enrollment (%)",
                            "Population",
                            "Urban_population",
                            "Latitude",
                            "Longitude",
                            "Life expectancy"]]
conditions_df = conditions_df.dropna()
conditions_df.head()

Empty DataFrame
Columns: [Country, Density
(P/Km2), Agricultural Land( %), Armed Forces size, Co2-Emissions, Forested Area (%), Gross primary education enrollment (%), Gross tertiary education enrollment (%), Population, Urban_population, Latitude, Longitude, Life expectancy]
Index: []

In [52]:
conditions_df.value_counts("Country")

Country
Afghanistan      1
Netherlands      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Greece           1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Length: 167, dtype: int64

In [ ]:
conditions_df =