In [1]:
# Import Dependencies
import pandas as pd
import os
import csv
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [2]:
file_path = pd.read_csv("./Resources/world-data-2023.csv")

file_path.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [3]:
file_path.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [4]:
copy_df = file_path.copy()
copy_df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [5]:
copy_df.value_counts("Country")

Country
Afghanistan        1
Samoa              1
North Macedonia    1
Norway             1
Oman               1
                  ..
Guinea             1
Guinea-Bissau      1
Guyana             1
Haiti              1
Zimbabwe           1
Length: 195, dtype: int64

In [7]:
cleaned_df = copy_df.drop(columns=["Abbreviation", 
                                   "Calling Code", 
                                   "Capital/Major City", 
                                   "Currency-Code", 
                                   "Largest city", 
                                   "Official language"])

cleaned_df.head()

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,58.10%,"652,230","323,000",32.49,"8,672",149.9,2.30%,4.47,...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,43.10%,"28,748","9,000",11.78,"4,536",119.05,1.40%,1.62,...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,17.40%,"2,381,741","317,000",24.28,"150,006",151.36,2.00%,3.02,...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,40.00%,468,NaN,7.20,469,NaN,NaN,1.27,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,47.50%,"1,246,700","117,000",40.73,"34,693",261.73,17.10%,5.52,...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [8]:
cleaned_df["Urban_population"]

0       9,797,273
1       1,747,593
2      31,510,100
3          67,873
4      21,061,025
          ...
190    25,162,368
191    35,332,140
192    10,869,523
193     7,871,713
194     4,717,305
Name: Urban_population, Length: 195, dtype: object

In [9]:
cleaned_df.dtypes

Country                                       object
Density\n(P/Km2)                              object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [10]:
cleaned_df['Population'].str.replace(",","")
cleaned_df['Population'] = pd.to_numeric(cleaned_df['Population'].str.replace(",",""))

In [11]:
cleaned_df['Urban_population'].str.replace(",","")
cleaned_df['Urban_population'] = pd.to_numeric(cleaned_df['Urban_population'].str.replace(",",""))

In [12]:
cleaned_df.dtypes

Country                                       object
Density\n(P/Km2)                              object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                   float64
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                             float64
Latitude                                     float64
Longitude                                    float64
dtype: object

In [13]:
cleaned_df["Urban Percentage"] = (cleaned_df["Urban_population"] / cleaned_df["Population"]) * 100
cleaned_df.tail()

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude,Urban Percentage
190,Venezuela,32,24.50%,"912,050","343,000",17.88,"164,175","2,740.27",254.90%,2.27,...,1.92,28515829.0,59.70%,NaN,73.30%,8.80%,25162368.0,6.423750,-66.589730,88.240002
191,Vietnam,314,39.30%,"331,210","522,000",16.75,"192,668",163.52,2.80%,2.05,...,0.82,96462106.0,77.40%,19.10%,37.60%,2.01%,35332140.0,14.058324,108.277199,36.628000
192,Yemen,56,44.60%,"527,968","40,000",30.45,"10,609",157.58,8.10%,3.79,...,0.31,29161922.0,38.00%,NaN,26.60%,12.91%,10869523.0,15.552727,48.516388,37.272999
193,Zambia,25,32.10%,"752,618","16,000",36.19,"5,141",212.31,9.20%,4.63,...,1.19,17861030.0,74.60%,16.20%,15.60%,11.43%,7871713.0,-13.133897,27.849332,44.071999
194,Zimbabwe,38,41.90%,"390,757","51,000",30.68,"10,983",105.51,0.90%,3.62,...,0.21,14645468.0,83.10%,20.70%,31.60%,4.95%,4717305.0,-19.015438,29.154857,32.209998

In [14]:
average_life_expectancy = cleaned_df["Life expectancy"].mean()
average_life_expectancy

72.27967914438503

In [15]:
def convert(value):
    return 1 if value > average_life_expectancy else 0

cleaned_df['Life expectancy'] = cleaned_df['Life expectancy'].apply(lambda x: convert(x))

In [16]:
cleaned_df["Life expectancy"]

0      0
1      1
2      1
3      0
4      0
      ..
190    0
191    1
192    0
193    0
194    0
Name: Life expectancy, Length: 195, dtype: int64

In [68]:
health_df = cleaned_df[["Country", 
                       "Birth Rate", 
                       "Fertility Rate",
                       "Infant mortality",
                       "Maternal mortality ratio",
                       "Physicians per thousand",
                       "Life expectancy"]]
health_df = health_df.dropna()
health_df.head()

,Country,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Life expectancy
0,Afghanistan,32.49,4.47,47.9,638.0,0.28,0
1,Albania,11.78,1.62,7.8,15.0,1.20,1
2,Algeria,24.28,3.02,20.1,112.0,1.72,1
4,Angola,40.73,5.52,51.6,241.0,0.21,0
5,Antigua and Barbuda,15.33,1.99,5.0,42.0,2.76,1

In [69]:
health_df[health_df["Country"] == "Peru"]

,Country,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Life expectancy
137,Peru,17.95,2.25,11.1,88.0,1.27,1

In [18]:
health_df['Out of pocket health expenditure'].str.replace("%","")
health_df['Out of pocket health expenditure'] = pd.to_numeric(health_df['Out of pocket health expenditure'].str.replace("%",""))

In [70]:
health_df.dtypes

Country                      object
Birth Rate                  float64
Fertility Rate              float64
Infant mortality            float64
Maternal mortality ratio    float64
Physicians per thousand     float64
Life expectancy               int64
dtype: object

In [71]:
health_df.value_counts("Country")

Country
Afghanistan    1
Nicaragua      1
Nigeria        1
North Korea    1
Norway         1
              ..
Greece         1
Grenada        1
Guatemala      1
Guinea         1
Zimbabwe       1
Length: 180, dtype: int64

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [77]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = health_df['Life expectancy']

# The X variable should include all features except the target
X = health_df.drop(columns=['Life expectancy'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9)

In [81]:
country_x_train = X_train["Country"]
del X_train["Country"]
X_train

,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand
2,24.28,3.02,20.1,112.0,1.72
26,37.93,5.19,49.0,320.0,0.08
22,24.82,2.87,30.0,144.0,0.37
131,28.25,3.51,57.2,140.0,0.98
57,32.34,4.25,39.1,401.0,0.08
...,...,...,...,...,...
164,7.90,1.26,2.5,4.0,3.87
59,8.60,1.41,1.4,3.0,3.81
194,30.68,3.62,33.9,458.0,0.21
96,33.04,4.32,53.5,661.0,0.04
137,17.95,2.25,11.1,88.0,1.27

In [83]:
country_x_train

2           Algeria
26     Burkina Faso
22         Botswana
131        Pakistan
57         Ethiopia
           ...
164           Spain
59          Finland
194        Zimbabwe
96          Liberia
137            Peru
Name: Country, Length: 135, dtype: object

In [84]:
country_x_test = X_test["Country"]
del X_test["Country"]
X_test

,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand
55,10.90,1.59,2.1,9.0,4.48
45,41.18,5.92,68.2,473.0,0.07
18,36.22,4.84,60.5,397.0,0.08
118,17.55,2.15,36.8,250.0,0.68
40,13.97,1.75,7.6,27.0,2.89
49,19.51,2.35,24.1,95.0,1.56
142,9.60,1.71,6.1,19.0,2.98
156,8.80,1.14,2.3,8.0,2.29
176,24.30,3.56,13.4,52.0,0.52
114,24.13,2.90,14.0,45.0,2.86
188,23.30,2.42,19.1,29.0,2.37
27,39.01,5.41,41.0,548.0,0.10
166,32.18,4.41,42.1,295.0,0.26
109,10.20,1.41,13.6,61.0,2.53
70,35.13,4.48,54.0,667.0,0.13
14,10.65,1.62,11.3,27.0,2.48
81,12.50,1.75,3.1,5.0,3.31
178,17.56,2.20,14.6,43.0,1.30
28,35.74,4.65,59.4,617.0,0.23
39,32.86,4.43,36.2,378.0,0.12
53,33.24,4.51,62.6,301.0,0.40
32,10.10,1.50,4.3,10.0,2.61
24,14.90,1.85,9.8,31.0,1.61
29,19.49,2.27,16.7,58.0,0.77
31,35.39,4.57,50.6,529.0,0.09
186,11.60,1.73,5.6,19.0,2.61
72,24.35,2.94,49.5,480.0,0.23
88,28.75,3.49,30.6,342.0,0.16
16,10.30,1.62,2.9,5.0,3.07
141,9.54,1.87,5.8,9.0,2.49
7,13.99,1.76,11.0,26.0,4.40
92,23.55,2.67,37.6,185.0,0.37
134,18.98,2.46,13.1,52.0,1.57
38,31.88,4.21,51.3,273.0,0.27
82,20.80,3.09,3.0,3.0,4.62
158,9.40,1.60,1.7,7.0,3.09
159,32.44,4.40,17.1,104.0,0.19
58,21.28,2.77,21.6,34.0,0.84
97,18.83,2.24,10.2,72.0,2.09
99,10.00,1.63,3.3,8.0,6.35
160,41.75,6.07,76.6,829.0,0.02
4,40.73,5.52,51.6,241.0,0.21
10,14.00,1.73,19.2,26.0,3.45
116,18.94,2.42,19.2,70.0,0.73
170,23.69,2.81,14.0,31.0,1.22

In [85]:
country_x_test

55                              Estonia
45     Democratic Republic of the Congo
18                                Benin
118                             Myanmar
40                           Costa Rica
49                   Dominican Republic
142                             Romania
156                           Singapore
176                               Tonga
114                            Mongolia
188                          Uzbekistan
27                              Burundi
166                               Sudan
109                           Mauritius
70                        Guinea-Bissau
14                             Barbados
81                  Republic of Ireland
178                             Tunisia
28                          Ivory Coast
39                Republic of the Congo
53                    Equatorial Guinea
32                               Canada
24                               Brunei
29                           Cape Verde
31                             Cameroon
186                       United States
72                                Haiti
88                                Kenya
16                              Belgium
141                               Qatar
7                               Armenia
92                                 Laos
134                              Panama
38                              Comoros
82                               Israel
158                            Slovenia
159                     Solomon Islands
58                                 Fiji
97                                Libya
99                            Lithuania
160                             Somalia
4                                Angola
10                           Azerbaijan
116                             Morocco
170                               Syria
Name: Country, dtype: object

In [104]:
from sklearn.preprocessing import StandardScaler
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [105]:
# Declare a logistic regression model.
# Apply a random_state of 9 to the model
logistic_regression_model = LogisticRegression(random_state=9)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train_scaled, y_train)

# Generate training predictions
training_predictions = lr_model.predict(X_train_scaled)

# Generate testing predictions
testing_predictions = logistic_regression_model.predict(X_test_scaled)

In [106]:
# Import the model for sklearn confusion matrix
from sklearn.metrics import confusion_matrix

# Create and save the confusion matrix for the training data
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the training data
print("Confusion Matrix for Training Data:")
print(training_matrix)

# Create and save the confusion matrix for the testing data
test_matrix = confusion_matrix(y_test, testing_predictions)

# Print the confusion matrix for the testing data
print("Confusion Matrix for Testing Data:")
print(test_matrix)

Confusion Matrix for Training Data:
[[51  6]
 [ 3 75]]
Confusion Matrix for Testing Data:
[[18  3]
 [ 3 21]]

In [107]:
# Create and save the training classification report
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print("Classification Report for Training Data:")
print(training_report)

# Create and save the testing classification report
testing_report = classification_report(y_test, testing_predictions)

# Print the testing classification report
print("Classification Report for Testing Data:")
print(testing_report)

Classification Report for Training Data:
              precision    recall  f1-score   support

           0       0.94      0.89      0.92        57
           1       0.93      0.96      0.94        78

    accuracy                           0.93       135
   macro avg       0.94      0.93      0.93       135
weighted avg       0.93      0.93      0.93       135

Classification Report for Testing Data:
              precision    recall  f1-score   support

           0       0.86      0.86      0.86        21
           1       0.88      0.88      0.88        24

    accuracy                           0.87        45
   macro avg       0.87      0.87      0.87        45
weighted avg       0.87      0.87      0.87        45

In [89]:
testing_predictions

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1], dtype=int64)

In [108]:
Results = X_test
Results["Prediction"] = testing_predictions
Results

,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Prediction
55,10.90,1.59,2.1,9.0,4.48,1
45,41.18,5.92,68.2,473.0,0.07,0
18,36.22,4.84,60.5,397.0,0.08,0
118,17.55,2.15,36.8,250.0,0.68,0
40,13.97,1.75,7.6,27.0,2.89,1
49,19.51,2.35,24.1,95.0,1.56,0
142,9.60,1.71,6.1,19.0,2.98,1
156,8.80,1.14,2.3,8.0,2.29,1
176,24.30,3.56,13.4,52.0,0.52,1
114,24.13,2.90,14.0,45.0,2.86,1
188,23.30,2.42,19.1,29.0,2.37,0
27,39.01,5.41,41.0,548.0,0.10,0
166,32.18,4.41,42.1,295.0,0.26,0
109,10.20,1.41,13.6,61.0,2.53,1
70,35.13,4.48,54.0,667.0,0.13,0
14,10.65,1.62,11.3,27.0,2.48,1
81,12.50,1.75,3.1,5.0,3.31,1
178,17.56,2.20,14.6,43.0,1.30,1
28,35.74,4.65,59.4,617.0,0.23,0
39,32.86,4.43,36.2,378.0,0.12,0
53,33.24,4.51,62.6,301.0,0.40,0
32,10.10,1.50,4.3,10.0,2.61,1
24,14.90,1.85,9.8,31.0,1.61,1
29,19.49,2.27,16.7,58.0,0.77,1
31,35.39,4.57,50.6,529.0,0.09,0
186,11.60,1.73,5.6,19.0,2.61,1
72,24.35,2.94,49.5,480.0,0.23,0
88,28.75,3.49,30.6,342.0,0.16,0
16,10.30,1.62,2.9,5.0,3.07,1
141,9.54,1.87,5.8,9.0,2.49,1
7,13.99,1.76,11.0,26.0,4.40,1
92,23.55,2.67,37.6,185.0,0.37,0
134,18.98,2.46,13.1,52.0,1.57,1
38,31.88,4.21,51.3,273.0,0.27,0
82,20.80,3.09,3.0,3.0,4.62,1
158,9.40,1.60,1.7,7.0,3.09,1
159,32.44,4.40,17.1,104.0,0.19,0
58,21.28,2.77,21.6,34.0,0.84,0
97,18.83,2.24,10.2,72.0,2.09,1
99,10.00,1.63,3.3,8.0,6.35,1
160,41.75,6.07,76.6,829.0,0.02,0
4,40.73,5.52,51.6,241.0,0.21,0
10,14.00,1.73,19.2,26.0,3.45,1
116,18.94,2.42,19.2,70.0,0.73,0
170,23.69,2.81,14.0,31.0,1.22,1

In [109]:
Training_Results = X_train
Training_Results["Prediction"] = training_predictions
Training_Results

,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Prediction
2,24.28,3.02,20.1,112.0,1.72,0
26,37.93,5.19,49.0,320.0,0.08,0
22,24.82,2.87,30.0,144.0,0.37,0
131,28.25,3.51,57.2,140.0,0.98,0
57,32.34,4.25,39.1,401.0,0.08,0
...,...,...,...,...,...,...
164,7.90,1.26,2.5,4.0,3.87,1
59,8.60,1.41,1.4,3.0,3.81,1
194,30.68,3.62,33.9,458.0,0.21,0
96,33.04,4.32,53.5,661.0,0.04,0
137,17.95,2.25,11.1,88.0,1.27,1

In [110]:
overall_results = pd.concat([Training_Results, Results])
overall_results

,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Prediction
2,24.28,3.02,20.1,112.0,1.72,0
26,37.93,5.19,49.0,320.0,0.08,0
22,24.82,2.87,30.0,144.0,0.37,0
131,28.25,3.51,57.2,140.0,0.98,0
57,32.34,4.25,39.1,401.0,0.08,0
...,...,...,...,...,...,...
160,41.75,6.07,76.6,829.0,0.02,0
4,40.73,5.52,51.6,241.0,0.21,0
10,14.00,1.73,19.2,26.0,3.45,1
116,18.94,2.42,19.2,70.0,0.73,0
170,23.69,2.81,14.0,31.0,1.22,1

In [111]:
joined_countries = pd.concat([country_x_train, country_x_test])
joined_countries

2           Algeria
26     Burkina Faso
22         Botswana
131        Pakistan
57         Ethiopia
           ...
160         Somalia
4            Angola
10       Azerbaijan
116         Morocco
170           Syria
Name: Country, Length: 180, dtype: object

In [112]:
final_results = pd.DataFrame(joined_countries).join(overall_results)

In [113]:
final_results[final_results['Country']=="United States"]

,Country,Birth Rate,Fertility Rate,Infant mortality,Maternal mortality ratio,Physicians per thousand,Prediction
186,United States,11.6,1.73,5.6,19.0,2.61,1

In [114]:
financial_df = cleaned_df[["Country",
                           "CPI",
                           "CPI Change (%)",
                           "Gasoline Price",
                           "GDP",
                           "Minimum wage",
                           "Population: Labor force participation (%)",
                           "Tax revenue (%)",
                           "Total tax rate",
                           "Unemployment rate",
                            "Life expectancy"]]
financial_df = financial_df.dropna()
financial_df.head()

,Country,CPI,CPI Change (%),Gasoline Price,GDP,Minimum wage,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Life expectancy
0,Afghanistan,149.9,2.30%,$0.70,"$19,101,353,833",$0.43,48.90%,9.30%,71.40%,11.12%,0
1,Albania,119.05,1.40%,$1.36,"$15,278,077,447",$1.12,55.70%,18.60%,36.60%,12.33%,1
2,Algeria,151.36,2.00%,$0.28,"$169,988,236,398",$0.95,41.20%,37.20%,66.10%,11.70%,1
4,Angola,261.73,17.10%,$0.97,"$94,635,415,870",$0.71,77.50%,9.20%,49.10%,6.89%,0
6,Argentina,232.75,53.50%,$1.10,"$449,663,446,954",$3.35,61.30%,10.10%,106.30%,9.79%,1

In [115]:
financial_df.dtypes

Country                                      object
CPI                                          object
CPI Change (%)                               object
Gasoline Price                               object
GDP                                          object
Minimum wage                                 object
Population: Labor force participation (%)    object
Tax revenue (%)                              object
Total tax rate                               object
Unemployment rate                            object
Life expectancy                               int64
dtype: object

In [116]:
financial_df['CPI'].str.replace(",","")
financial_df['CPI'] = pd.to_numeric(financial_df['CPI'].str.replace(",",""))

In [117]:
financial_df['CPI Change (%)'].str.replace("%","")
financial_df['CPI Change (%)'] = pd.to_numeric(financial_df['CPI Change (%)'].str.replace("%",""))

In [33]:
financial_df['Gasoline Price'].str.replace("$","")
financial_df['Gasoline Price'] = pd.to_numeric(financial_df['Gasoline Price'].str.replace("$",""))

C:\Users\nloll\AppData\Local\Temp\ipykernel_37528\2404968038.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  financial_df['Gasoline Price'].str.replace("$","")
C:\Users\nloll\AppData\Local\Temp\ipykernel_37528\2404968038.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  financial_df['Gasoline Price'] = pd.to_numeric(financial_df['Gasoline Price'].str.replace("$",""))

In [34]:
financial_df['GDP'] = financial_df['GDP'].str.replace(",","")
financial_df['GDP'] = financial_df['GDP'].str.replace("$","")
financial_df['GDP'] = pd.to_numeric(financial_df['GDP'])

C:\Users\nloll\AppData\Local\Temp\ipykernel_37528\3998229917.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  financial_df['GDP'] = financial_df['GDP'].str.replace("$","")

In [35]:
financial_df['Minimum wage'].str.replace("$","")
financial_df['Minimum wage'] = pd.to_numeric(financial_df['Minimum wage'].str.replace("$",""))

C:\Users\nloll\AppData\Local\Temp\ipykernel_37528\3679673571.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  financial_df['Minimum wage'].str.replace("$","")
C:\Users\nloll\AppData\Local\Temp\ipykernel_37528\3679673571.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  financial_df['Minimum wage'] = pd.to_numeric(financial_df['Minimum wage'].str.replace("$",""))

In [36]:
financial_df['Population: Labor force participation (%)'].str.replace("%","")
financial_df['Population: Labor force participation (%)'] = pd.to_numeric(financial_df['Population: Labor force participation (%)'].str.replace("%",""))

In [37]:
financial_df['Tax revenue (%)'].str.replace("%","")
financial_df['Tax revenue (%)'] = pd.to_numeric(financial_df['Tax revenue (%)'].str.replace("%",""))

In [38]:
financial_df['Total tax rate'].str.replace("%","")
financial_df['Total tax rate'] = pd.to_numeric(financial_df['Total tax rate'].str.replace("%",""))

In [39]:
financial_df['Unemployment rate'].str.replace("%","")
financial_df['Unemployment rate'] = pd.to_numeric(financial_df['Unemployment rate'].str.replace("%",""))

In [40]:
financial_df.dtypes

Country                                       object
CPI                                          float64
CPI Change (%)                               float64
Gasoline Price                               float64
GDP                                            int64
Minimum wage                                 float64
Population: Labor force participation (%)    float64
Tax revenue (%)                              float64
Total tax rate                               float64
Unemployment rate                            float64
Life expectancy                                int64
dtype: object

In [41]:
financial_df.value_counts("Country")

Country
Afghanistan            1
Netherlands            1
Republic of Ireland    1
Portugal               1
Poland                 1
                      ..
France                 1
Fiji                   1
Estonia                1
El Salvador            1
Zambia                 1
Length: 124, dtype: int64

In [42]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = financial_df['Life expectancy']

# The X variable should include all features except the target
X = financial_df.drop(columns=['Country', 'Life expectancy'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9)

In [43]:
# Declare a logistic regression model.
# Apply a random_state of 9 to the model
logistic_regression_model = LogisticRegression(random_state=9)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train, y_train)

# Generate training predictions
training_predictions = lr_model.predict(X_train)

# Generate testing predictions
testing_predictions = logistic_regression_model.predict(X_test)

c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [44]:
# Create and save the confusion matrix for the training data
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the training data
print("Confusion Matrix for Training Data:")
print(training_matrix)

# Create and save the confusion matrix for the testing data
test_matrix = confusion_matrix(y_test, testing_predictions)

# Print the confusion matrix for the testing data
print("Confusion Matrix for Testing Data:")
print(test_matrix)

Confusion Matrix for Training Data:
[[33  0]
 [60  0]]
Confusion Matrix for Testing Data:
[[16  0]
 [15  0]]

In [45]:
# Create and save the training classification report
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print("Classification Report for Training Data:")
print(training_report)

# Create and save the testing classification report
testing_report = classification_report(y_test, testing_predictions)

# Print the testing classification report
print("Classification Report for Testing Data:")
print(testing_report)

Classification Report for Training Data:
              precision    recall  f1-score   support

           0       0.35      1.00      0.52        33
           1       0.00      0.00      0.00        60

    accuracy                           0.35        93
   macro avg       0.18      0.50      0.26        93
weighted avg       0.13      0.35      0.19        93

Classification Report for Testing Data:
              precision    recall  f1-score   support

           0       0.52      1.00      0.68        16
           1       0.00      0.00      0.00        15

    accuracy                           0.52        31
   macro avg       0.26      0.50      0.34        31
weighted avg       0.27      0.52      0.35        31

c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [46]:
conditions_df = cleaned_df[["Country",
                            "Density\n(P/Km2)",
                            "Agricultural Land( %)",
                            "Armed Forces size",
                            "Co2-Emissions",
                            "Forested Area (%)",
                            "Gross primary education enrollment (%)",
                            "Gross tertiary education enrollment (%)",
                            "Latitude",
                            "Longitude",
                            "Urban Percentage",
                            "Life expectancy"]]
conditions_df = conditions_df.dropna()
conditions_df.head()

,Country,Density\n(P/Km2),Agricultural Land( %),Armed Forces size,Co2-Emissions,Forested Area (%),Gross primary education enrollment (%),Gross tertiary education enrollment (%),Latitude,Longitude,Urban Percentage,Life expectancy
0,Afghanistan,60,58.10%,"323,000","8,672",2.10%,104.00%,9.70%,33.939110,67.709953,25.753999,0
1,Albania,105,43.10%,"9,000","4,536",28.10%,107.00%,55.00%,41.153332,20.168331,61.229014,1
2,Algeria,18,17.40%,"317,000","150,006",0.80%,109.90%,51.40%,28.033886,1.659626,73.189001,1
4,Angola,26,47.50%,"117,000","34,693",46.30%,113.50%,9.30%,-11.202692,17.873887,66.176999,0
5,Antigua and Barbuda,223,20.50%,0,557,22.30%,105.00%,24.80%,17.060816,-61.796428,24.506271,1

In [47]:
conditions_df.value_counts("Country")

Country
Afghanistan      1
Netherlands      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Greece           1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Length: 167, dtype: int64

In [48]:
conditions_df.dtypes

Country                                     object
Density\n(P/Km2)                            object
Agricultural Land( %)                       object
Armed Forces size                           object
Co2-Emissions                               object
Forested Area (%)                           object
Gross primary education enrollment (%)      object
Gross tertiary education enrollment (%)     object
Latitude                                   float64
Longitude                                  float64
Urban Percentage                           float64
Life expectancy                              int64
dtype: object

In [49]:
conditions_df['Density\n(P/Km2)'].str.replace(",","")
conditions_df['Density\n(P/Km2)'] = pd.to_numeric(conditions_df['Density\n(P/Km2)'].str.replace(",",""))

In [50]:
conditions_df['Agricultural Land( %)'].str.replace("%","")
conditions_df['Agricultural Land( %)'] = pd.to_numeric(conditions_df['Agricultural Land( %)'].str.replace("%",""))

In [51]:
conditions_df['Armed Forces size'].str.replace(",","")
conditions_df['Armed Forces size'] = pd.to_numeric(conditions_df['Armed Forces size'].str.replace(",",""))

In [52]:
conditions_df['Co2-Emissions'].str.replace(",","")
conditions_df['Co2-Emissions'] = pd.to_numeric(conditions_df['Co2-Emissions'].str.replace(",",""))

In [53]:
conditions_df['Forested Area (%)'].str.replace("%","")
conditions_df['Forested Area (%)'] = pd.to_numeric(conditions_df['Forested Area (%)'].str.replace("%",""))

In [54]:
conditions_df['Gross primary education enrollment (%)'].str.replace("%","")
conditions_df['Gross primary education enrollment (%)'] = pd.to_numeric(conditions_df['Gross primary education enrollment (%)'].str.replace("%",""))

In [55]:
conditions_df['Gross tertiary education enrollment (%)'].str.replace("%","")
conditions_df['Gross tertiary education enrollment (%)'] = pd.to_numeric(conditions_df['Gross tertiary education enrollment (%)'].str.replace("%",""))

In [56]:
conditions_df.dtypes

Country                                     object
Density\n(P/Km2)                             int64
Agricultural Land( %)                      float64
Armed Forces size                            int64
Co2-Emissions                                int64
Forested Area (%)                          float64
Gross primary education enrollment (%)     float64
Gross tertiary education enrollment (%)    float64
Latitude                                   float64
Longitude                                  float64
Urban Percentage                           float64
Life expectancy                              int64
dtype: object

In [61]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = conditions_df['Life expectancy']

# The X variable should include all features except the target
X = conditions_df.drop(columns=['Country', 'Life expectancy'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9)

In [62]:
# Declare a logistic regression model.
# Apply a random_state of 9 to the model
logistic_regression_model = LogisticRegression(random_state=9)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train, y_train)

# Generate training predictions
training_predictions = lr_model.predict(X_train)

# Generate testing predictions
testing_predictions = logistic_regression_model.predict(X_test)

c:\Users\nloll\anaconda3\envs\RUTDataViz2023\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [63]:
# Create and save the confusion matrix for the training data
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the training data
print("Confusion Matrix for Training Data:")
print(training_matrix)

# Create and save the confusion matrix for the testing data
test_matrix = confusion_matrix(y_test, testing_predictions)

# Print the confusion matrix for the testing data
print("Confusion Matrix for Testing Data:")
print(test_matrix)

Confusion Matrix for Training Data:
[[44  6]
 [ 6 69]]
Confusion Matrix for Testing Data:
[[15  6]
 [ 1 20]]

In [64]:
# Create and save the training classification report
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print("Classification Report for Training Data:")
print(training_report)

# Create and save the testing classification report
testing_report = classification_report(y_test, testing_predictions)

# Print the testing classification report
print("Classification Report for Testing Data:")
print(testing_report)

Classification Report for Training Data:
              precision    recall  f1-score   support

           0       0.88      0.88      0.88        50
           1       0.92      0.92      0.92        75

    accuracy                           0.90       125
   macro avg       0.90      0.90      0.90       125
weighted avg       0.90      0.90      0.90       125

Classification Report for Testing Data:
              precision    recall  f1-score   support

           0       0.94      0.71      0.81        21
           1       0.77      0.95      0.85        21

    accuracy                           0.83        42
   macro avg       0.85      0.83      0.83        42
weighted avg       0.85      0.83      0.83        42